<?php

return [
	'credentialPublicKey' => 'credentialPublicKey',
	'credentialPrivKey' => 'credentialPrivateKey',
	'handlerPublicKey' => 'handlerPublicKey',
	'handlerPrivKey' => 'handlerPrivateKey',
	'username' => 'username',
	'identityToken' => 'identityToken'
];
