<?php

$credentials = [
	'credentialPublicKey' => 'credentialPublicKey',
	'credentialPrivKey' => 'credentialPrivateKey',
	'handlerPublicKey' => 'handlerPublicKey',
	'handlerPrivKey' => 'handlerPrivateKey',
	'username' => 'username'
];
